ELASTICSEARCH_PASSWORD=
KIBANA_USERNAME=
KIBANA_PASSWORD=
LOGSTASH_USERNAME=
LOGSTASH_PASSWORD=
ADMIN_USERNAME=
ADMIN_PASSWORD=
KIBANA_ENCRYPTEDSAVEDOBJECTS_KEY=
KIBANA_REPORTING_KEY=
KIBANA_SECURITY_KEY=
